.section {
  opacity: 0; 
  transform: translateY(50px); 
  transition: all 0.6s ease-out; 
}
.show {
  opacity: 1; 
  transform: translateY(0); 
}

.background {
  background-color: var(--scheme-blue-1100);
}

.container {
  @media screen and (min-width: 1600px) {
    min-height: 100vh;
  }
}

.desktopBanner {
  object-fit: cover;
  max-width: 100%;
  height: auto;
}

.mobileBanner {
  display: none;
}

@media (max-width: 820px) {
  .desktopBanner {
    display: none;
  }

  .mobileBanner {
    display: block;
    object-fit: cover;
    max-width: 100%;
    height: auto;
  }
}
