.section {
  opacity: 0; /* Initially hidden */
  transform: translateY(50px); /* Start with a downward translation */
  transition: all 0.6s ease-out; /* Smooth animation */
}

.show {
  opacity: 1; /* Fully visible */
  transform: translateY(0); /* Reset position */
}

.background {
  background-color: var(--scheme-blue-1100);
}
